<a href='/boats'>All Boats</a>

<ul>
  <li><a href="/boats">All Boats</a></li>
  <li><a href="/docks">All Docks</a></li>
</ul>

<% @boats.each do |boat| %>
  <h2><%= boat.name %></h2>
  <h3><%= boat.motor_powered %></h3>
  <h3><%= boat.crew_size %></h3>
<% end %>
