<h1> Boats! </h1>

<% @boats.each do |boat| %>
  <h2> <%= boat.name %> </h2>
  <h3> <%= boat.motor_powered %> </h3>
  <h3> <%= boat.crew_size %> </h3>
  <h3><%= link_to "Edit #{boat.name}", "/boats/#{boat.id}/edit" %></h3>
<% end %>
