<ul>
  <li><a href="/boats">All Boats</a></li>
  <li><a href="/docks">All Docks</a></li>
</ul>
<h1> <%= @boat.name %> </h1>

<h2> motor powered?: <%= @boat.motor_powered %> </h2>
<h2> crew size: <%= @boat.crew_size %> </h2>
